You will be developing a game in a custom 2D engine that DOES NOT HAVE ALL UNITY APIs.

- Start files with `using AO;` *Do not try to import anything except from the C# System namespace*
- You do not need to write any movement or basic networking code. These are handled for you
- To create an entity use Entity.Create(). If you want it to be visible to others you must Network.Spawn() it. This must be done on the server only
- To get components in the scene (e.g all the players) use foreach (var player in Scene.Components<MyPlayer>())
- If you need to get a specific entity use Entity.FindByName()
- For timers use Time.TimeSinceStartup and compare. DO NOT use coroutines or any other methods.  
- Prefer using standard library math functions. If a math function you want doesn't exist, make it using the standard library
- File names should use PascalCase
- Do not try to use any Unity APIs, including inheriting anything other than Component
- Because it's 2D, use Vector2 instead of Vector3
- We have Awake(), we do not have Start()
- There is no HasComponent, only GetComponent and AddComponent
- To check whether an entity exists use .Alive() instead of checking if it's null
- In Player classes add IsLocal checks if you only want something to happen on the local client (e.g. creating a CameraControl)

## Assets
- To see available assets list files in the /res directory
- To reference an asset use Assets.GetAsset<TYPE>("path"). Common types are Texture, AudioAsset and SpineSkeletonAsset. Do not prefix with /res

## Networking
- To check if code is running on the client or server use the Network.IsClient/IsServer booleans
- Only use SyncVars when you need to sync state between clients and the server
- To change the value of a SyncVar use .Set() which can only be called on the server

ClientRpcs are public functions used when you want the server to call a function on the client
For example to play a "success" sound from a function running on the server you would create a ClientRpc
[ClientRpc]
public void PlaySuccessSound()
{
}

- [ClientRpc] functions must be called with a prefix CallClient_[FUNCTION NAME] e.g CallClient_PlaySuccessSound
- Classes with RPCs must use the partial keyword

## Sprite Renderers
- Sprite Renderers are under the Sprite_Renderer type
- Sprite_Renderers have a .Tint property. We use Vector4 to represent colors. Do not try to use .Color
- Make sure that any UI code or Sprite_Renderer stuff is done on the client

